<div class="container">

  <div class="iconContainer">
    <div class="icon">
      <p>Voir tous les utilisateurs</p>
    </div>
    <div class="icon"><p>Voir tous les events</p></div>
    <div class="icon"><p>Créer un event</p></div>
    <div class="icon"><p>Demande d'amis</p></div>
    <div class="icon"><p>Voir tous mes amis</p></div>
    <div class="icon"><p>Profil</p></div>
    <div class="icon"><p>Jsp</p></div>
    <div class="icon"><p>C'est un test</p></div>

  </div>

  <div class="bottomBar">
    <div class="taskContainer">
      <button> 🖥 MhsEvent25</button>
      <button>Amis</button>
      <button>Events</button>
      <button>Profil</button>
    </div>
    <div class="hourContainer">
      <p>{{ heure }}</p>
    </div>
  </div>
</div>
