<div class="container">

  <div class="iconContainer">
    <div class="icon">
      <p>Voir tous les utilisateurs</p>
    </div>
    <div (click)="error()" class="icon"><p>Voir tous les events</p></div>
    <div (click)="error()" class="icon"><p>Créer un event</p></div>
    <div (click)="error()" class="icon"><p>Demande d'amis</p></div>
    <div (click)="error()" class="icon"><p>Voir tous mes amis</p></div>
    <div (click)="error()" class="icon"><p>Profil</p></div>
    <div (click)="error()" class="icon"><p>Jsp</p></div>
    <div (click)="error()" class="icon"><p>C'est un test</p></div>

  </div>

  <div class="bottomBar">
    <div class="taskContainer">
      <button (click)="viouwm()"><img src="fav-icon.gif" alt="Logo MhsEvent25" class="buttonIcon">MhsEvent25</button>
      <button><img src="PLACEHOLDER-person-heart.svg" alt="Logo MhsEvent25" class="buttonIcon">Amis</button>
      <button>Events</button>
      <button>Profil</button>
    </div>
    <div class="hourContainer">
      <p>{{ heure }}</p>
    </div>
  </div>
</div>
