<div class="container">

  <div  class="iconContainer">
    <div [routerLink]="['/users']" class="icon">
      <img src="/ViewAllUsers.png" alt="Voir tous les utilisateurs">
      <p>Voir tous les utilisateurs</p>
    </div>

    <div [routerLink]="['/events']" class="icon">
      <img src="/ViewAllEvent.png" alt="Voir tous les utilisateurs">
      <p>Voir tous les events</p>
    </div>

    <div [routerLink]="['/create-event']" class="icon">
      <img src="/CreationEvent.png" alt="Voir tous les utilisateurs">
      <p>Créer un event</p>
    </div>

    <div [routerLink]="['/requests']" class="icon">
      <img src="/FriendRequest.png" alt="Voir tous les utilisateurs">
      <p>Demande d'amis</p>
    </div>

    <div [routerLink]="['/friends']" class="icon">
      <img src="/Friends.png" alt="Voir tous les utilisateurs">
      <p>Voir tous mes amis</p>
    </div>

    <div [routerLink]="['/profil']" class="icon">
      <img src="/Profile.png" alt="Voir tous les utilisateurs">
      <p>Profil</p>
    </div>

    <div class="childComponent">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="bottomBar">
    <div class="taskContainer">
      <button [routerLink]="['/about-us']" (click)="viouwm()"><img src="fav-icon.gif" alt="Logo MhsEvent25" class="buttonIcon">MhsEvent25</button>
      <button [routerLink]="['/friends']" (click)="clic()">Amis</button>
      <button [routerLink]="['/events']" (click)="clic()">Events</button>
      <button [routerLink]="['/profil']" (click)="clic()">Profil</button>


      <button (click)="logout()">Déconnexion</button>
      <button (click)="sofian()"><img src="/sofian.png" alt="sofian" width="10"></button>
    </div>
    <div class="hourContainer">
      <p>{{ heure }}</p>
    </div>
  </div>
</div>
