@use '../../../../styles.scss' as *;

.window {
  height: 80vh;
}

.windowContent {
  text-align: center;

  max-height: 75vh;
  width: fit-content;
  margin: 0.5rem auto 0;

  & .logo {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
  }

  & form {
    display: grid;
    grid-template: repeat(4,1fr) / repeat(2,1fr);
    & div {
      margin: 1rem 0;
      grid-column: span 2;

      & label {
        width: 4rem;
      }
    }
  }
}
