<div class="window">
  <div class="titleBar">
    <div class="title">Tout les utilisateurs</div>

    <div>
      <div [routerLink]="['/']" class="titleButton">X</div>
    </div>

  </div>

  <div class="windowContent">
    <div class="titleMenu">
      List of users
    </div>
    <div class="containerAll">

      <div class="search">
        <input
          type="text"
          [(ngModel)]="searchValue"
          placeholder="Rechercher un utilisateur..."
        />
          <button (click)="searchUsers()">Search</button>
      </div>

      <div class="affichageAll">
        <div *ngFor="let user of users">
          <div class="userInfo">
            <img class="userAvatar" [src]="user.avatar" alt="Avatar de {{ user.pseudo }}" width="50"/>
            <div class="userTexts">
              <div>Pseudo: {{ user.pseudo }}</div>
              <div>Nom: {{ user.lastname }}</div>
              <div>Prénom: {{ user.firstname }}</div>
            </div>
            <button
              *ngIf="user.id !== +currentUserId!"
              (click)="sendFriendRequest(user.id)"
              [disabled]="sentRequests.has(user.id) || friends.has(user.id)">
              Demander en ami
            </button>
          </div>
        </div>
      </div>

      <ng-template #noUsers>
        <p>Aucun utilisateur trouvé.</p>
      </ng-template>
    </div>
    <div class="button-principale">
      <button class="button" [routerLink]="['/']">OK</button>
      <button class="button" [routerLink]="['/']">Cancel</button>
    </div>
  </div>
</div>
