<div class="window">
  <div class="titleBar">
    <div class="title">Tout les utilisateurs</div>

    <div>
      <div class="titleButton">_</div>
      <div [routerLink]="['/']" class="titleButton">X</div>
    </div>

  </div>

  <div class="windowContent">

      <div class="search">
          <input
                  type="text"
                  [(ngModel)]="searchValue"
                  placeholder="Rechercher un événement..."
          />
          <div class="button-option">
              <button (click)="searchUsers()">Search</button>
          </div>
      </div>

    <ul class="userList">
      <li *ngFor="let user of users" class="userItem">
        <div class="userInfo">
          <div class="userAvatar">
            <img [src]="user.avatar" alt="Avatar de {{ user.pseudo }}" />
          </div>
          <div class="userTexts">
            <strong>Pseudo:</strong> {{ user.pseudo }} <br>
            <strong>Nom:</strong> {{ user.lastname }} <br>
            <strong>Prénom:</strong> {{ user.firstname }}

              <button
                *ngIf="user.id !== +currentUserId!"
                (click)="sendFriendRequest(user.id)"
                [disabled]="sentRequests.has(user.id) || friends.has(user.id)">
                  Ajouter en ami
              </button>

              <br> <br>

          </div>
        </div>
      </li>
    </ul>

    <ng-template #noUsers>
      <p>Aucun utilisateur trouvé.</p>
    </ng-template>
  </div>

</div>
