<div class="window">
  <div class="titleBar">

    <div class="title">Créer l'évènement</div>

    <div>
      <div class="titleButton">?</div>
      <div [routerLink]="['/']" class="titleButton">X</div>
    </div>
  </div>

  <div class="windowContent">

    <div class="formTitle">
      Create Event
    </div>

    <form class="formBody" [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
      <legend id="legend">Entrez les infos de l'event :</legend>
      <div id="nomDiv">
        <label for="name">Nom</label>
        <input id="name" type="text" formControlName="name"/>
      </div>

      <div id="descriptionDiv">
        <label for="desc">Description</label>
        <input id="desc" type="text" formControlName="description"/>
      </div>

      <div id="dateDebutDiv">
        <label for="ddb">Date du début</label>
        <input id="ddb" type="date" formControlName="beginDate"/>
      </div>

      <div id="dateFinDiv">
        <label for="ddf">Date de fin</label>
        <input id="ddf" type="date" formControlName="endDate"/>
      </div>

      <div id="adresseDiv">
        <label for="adresse">Adresse</label>
        <input id="adresse" type="text" formControlName="address"/>
      </div>

      <div id="imageDiv">
        <label for="img">Image (URL)</label>
        <input id="img" type="text" formControlName="image"/>
      </div>

      <button id="annuler" type="button" [routerLink]="['/']">Annuler</button>

      <button id="creer" type="submit">Créer l'évènement</button>
    </form>

  </div>
</div>

