<div class="window">
  <div class="titleBar">

    <div class="title">Register</div>

    <div>
      <div class="titleButton">?</div>
      <div [routerLink]="['/welcome']" class="titleButton">X</div>
    </div>
  </div>

  <div class="windowContent">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="logo">
        <img src="logo.png" alt="coucou">
      </div>
      <div id="prenomDiv">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" formControlName="firstname"/>
      </div>

      <div id="nomDiv">
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="lastname"/>
      </div>

      <div id="pseudoDiv">
        <label for="pseudo">Pseudo</label>
        <input id="pseudo" type="text" formControlName="pseudo"/>
      </div>

      <div id="emailDiv">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email"/>
      </div>

      <div id="mdpDiv">
        <label for="mdp">Mot de passe</label>
        <input id="mdp" type="password" formControlName="password"/>
      </div>

      <div id="avatarDiv">
        <label for="avatar">Avatar (URL)</label>
        <input id="avatar" type="text" formControlName="avatar"/>
      </div>

      <div id="ddnDiv">
        <label for="ddn">Date de naissance</label>
        <input id="ddn" type="date" formControlName="birthdate"/>
      </div>

      <button id="inscrire" type="submit">S'inscrire</button>
      <button id="connecter" [routerLink]="['/login']">Se connecter</button>

    </form>
  </div>
</div>

