@use '../../../../styles.scss' as *;

.windowContent {
  margin: 2rem;
  height: 60vh;

  & .profileContainer {
    padding: 1rem;
    border: 2px solid $secondary-color;

    & .profilePseudo {
      margin: 1rem 0 0;
      font-weight: bold;
      text-decoration: underline;
    }

    & .profile {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
    }

    & .profileDetails {
      font-size: 1.3rem;
    }

    & .profileActions {
      & button {
        font-size: 1.1em;
      }
    }
  }

  & .profileButtons {
    margin-top: 0.5rem;
    text-align: right;
  }


  & .mainMenu {

    & .menuButton {
      border: 2px solid $secondary-color;
      box-shadow: none;
      margin: 0;
      padding: 0.3rem;
      width: 7rem;
    }

  }
}
.childComponent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 11;
  width: 80vw;
}
