<div class="window">
  <div class="titleBar">
    <div class="title">Modification du mot de passe</div>
    <div>
      <div class="titleButton">_</div>
      <div class="titleButton" [routerLink]="['/main-page/profil']">X</div>
    </div>
  </div>

  <div class="windowContent">
    <form class="form-container" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="currentPassword">Ancien mot de passe :</label> <br>
        <input
          type="password"
          id="currentPassword"
          formControlName="currentPassword"
          placeholder="Entrez votre mot de passe actuel"
        />
      </div>

      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe :</label> <br>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Entrez un nouveau mot de passe"
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmation du mot de passe :</label> <br>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirmation du mot de passe"
        />
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="passwordForm.invalid">
          Mettre à jour
        </button>
      </div>

    </form>
  </div>
</div>
