<div class="window">
    <div class="titleBar">
        <div class="title">Modification du mot de passe</div>
        <div>
<!--            <div class="titleButton">_</div>-->
            <div class="titleButton" [routerLink]="['/profil']" (click)="close()">X</div>
        </div>
    </div>

    <div class="windowContent">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

            <div>
                <label for="currentPassword">Ancien mot de passe :</label>
                <input
                        type="password"
                        id="currentPassword"
                        formControlName="currentPassword"
                        placeholder="Entrez votre mot de passe actuel"
                />
            </div>

            <div>
                <label for="newPassword">Nouveau mot de passe :</label>
                <input
                        type="password"
                        id="newPassword"
                        formControlName="newPassword"
                        placeholder="Entrez un nouveau mot de passe"
                />
            </div>

            <div>
                <label for="confirmPassword">Confirmation du mot de passe :</label>
                <input
                        type="password"
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        placeholder="Confirmation du mot de passe"
                />
            </div>

            <button type="button" [routerLink]="['/profil']"> Annuler</button>
            <button type="submit" [disabled]="passwordForm.invalid">
                Mettre à jour
            </button>
        </form>
    </div>
</div>
