

<div class="window">
  <div class="titleBar">
    <div class="title">
      Proprieties of the event
    </div>
    <div>
      <div class="titleButton">?</div>
      <div class="titleButton" (click)="close()">X</div>
    </div>
  </div>
  <div class="windowContent">
<!--    <div>-->
<!--      <img src="/i.png" alt="Informations">-->
<!--    </div>-->

    <div class="modal-content">
<!--      <h2>Détails de l'événement</h2>-->
      <p class="titleinfo">Nom :</p> <p> {{ event.name }}</p>
      <p class="titleinfo">Description :</p> <p> {{ event.description }}</p>
      <p class="titleinfo">Date début :</p> <p> {{ event.beginDate }}</p>
      <p class="titleinfo">Date fin :</p> <p> {{ event.endDate || 'Non renseignée' }}</p>
      <p class="titleinfo">Adresse :</p> <p>{{ event.address }}</p>
      <p class="titleinfo">Annulé :</p> <p> {{ event.isCancelled ? 'Oui' : 'Non' }}</p>
    </div>
  </div>
</div>
