.window {
  width: 50vw;
  max-width: 50vw;
  height: 60vh;
  max-height: 60vh;

  .titleBar {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
    }

    .titleButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .windowContent {

    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h2 {
      text-align: center;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      margin-top: 70px; // Marges réduites mais présentes
      margin-left: 60px;
      gap: 10px;

      .titleinfo {
        margin-left: 70px;
        margin-bottom: 0;
        margin-top: 10px;
        align-items: center;
      }

      p {
        margin: 0 0 5px 90px;
        align-items: flex-end;
      }
    }

    .button-principale {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      width: 90%;
      gap: 5px;
    }
  }
}


@media screen and (max-height: 990px) {

  .window {

    height: 60vh;
    max-height: 60vh;

    .titleBar {
      height: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: bold;
      }

      .titleButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .windowContent {

      display: flex;
      flex-direction: column;
      margin-top: 20px;

      h2 {
        text-align: center;
      }

      .modal-content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 60px;
        gap: 10px;


        .titleinfo {
          margin-left: 70px;
          margin-bottom: 0;
          margin-top: 10px;
          align-items: center;
        }

        p {
          margin: 0 0 5px 90px;
          align-items: flex-end;
        }
      }

      .button-principale {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 90%;
        gap: 5px;
      }
    }
  }
}
