<div class="window" [class.fullscreen]="isFullscreen">
  <div class="titleBar">
    <div class="title">
      <h2>View All Events</h2>
    </div>
    <div class="b">
      <div class="titleButton"> _ </div>
      <div class="titleButton" (click)="toggleFullscreen()"> | | </div>
      <div class="titleButton" (click)="close()"> ✖ </div>
    </div>
  </div>
  <div class="w">
    <div class="viewAll">
      <div class="t">
        <p class="titleMenu">Liste of events</p>
      </div>
      <div class="containerAll">
        <div class="search">
          <input
            type="text"
            [(ngModel)]="searchValue"
            placeholder="Rechercher un événement..."
          />
          <div class="button-option">
            <button (click)="SearchInput()">Search</button>
          </div>
        </div>
        <div class="affichageAll">
          <div class="back">
            <ul>
              @for (event of filteredEvents(); track event.id) {
                <li
                  [class.selected]="event.id === selectedEvents?.id"
                  (click)="selectEvent1(event)"
                >
                  {{ event.name }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="button-option">
          <button>Participate</button>
          <button>Create</button>
          <button (click)="showProperties()" [disabled]="!selectedEvents">Proprietes</button>
        </div>

        <div class="button-option">
          <button [disabled]="!selectedEvents">Partage </button>
          <div class="check">
            <div>
              <input type="checkbox" id="participate">
              <label for="participate">Participate to Events</label>
            </div>
            <div>
              <input type="checkbox" id="created">
              <label for="created">Events Created</label>
            </div>
          </div>
        </div>

      </div>
      <div class="button-principale">
        <button class="button">OK</button>
        <button class="button" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
