<div class="window">
  <div class="titleBar">
    <div class="title">Demandes d'amis</div>

    <div>
      <div [routerLink]="['/']" (click)="close()" class="titleButton">X</div>
    </div>

  </div>

  <div class="windowContent">
    <div class="titleMenu">
      List of requests
    </div>
    <div class="containerAll">
      <div class="affichageAll">

        <div *ngIf="pendingRequests.length > 0; else noRequests">
          <div *ngFor="let request of pendingRequests">
            <div class="requestContainer">
              <img class="profilPic" [src]="request.user.avatar" alt="Avatar de {{ request.user.pseudo }}" width="40"/>
              <div class="username">{{ request.user.pseudo }}</div>
              <button (click)="accept(request.friendId) ; clic()">Accepter</button>
              <button (click)="decline(request.friendId); clic()">Refuser</button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noRequests>
        <div class="noFriends">Aucune demande en attente.</div>
      </ng-template>
    </div>
    <div class="button-principale">
      <button class="button" [routerLink]="['/']" (click)="close()">OK</button>
      <button class="button" [routerLink]="['/']" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
